<div>
    <h2 id="page-heading">
        <span jhiTranslate="gitimporterApp.gitInfo.home.title">Git Infos</span>

        <input #username id="username"  type="text" class="form-control w-10-m float-right" (change)="this.update()" placeholder="Username">

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-git-info mt-1 mb-1" [routerLink]="['/git-info/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gitimporterApp.gitInfo.home.createLabel">
            Create a new Git Info
            </span>
        </button>

        <button  class="btn btn-primary float-right mr-2 mt-1 mb-1" (click)="this.refresh()">
            Refresh Data
        </button>

    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="gitInfos?.length === 0">
        <span jhiTranslate="gitimporterApp.gitInfo.home.notFound">No gitInfos found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="gitInfos && gitInfos.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="gitProjectId"><span jhiTranslate="gitimporterApp.gitInfo.gitProjectId">Git Project Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="gitProjectName"><span jhiTranslate="gitimporterApp.gitInfo.gitProjectName">Git Project Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="issueCount"><span jhiTranslate="gitimporterApp.gitInfo.issueCount">Issue Count</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let gitInfo of gitInfos ;trackBy: trackId">
                    <td><a [routerLink]="['/git-info', gitInfo.id, 'view']">{{ gitInfo.id }}</a></td>
                    <td>{{ gitInfo.gitProjectId }}</td>
                    <td>{{ gitInfo.gitProjectName }}</td>
                    <td>{{ gitInfo.issueCount }}</td>
                    <td class="text-right">
                        <div class="btn-group">

                            <button type="submit"
                                    [routerLink]="['/git-info', gitInfo.gitProjectId, 'issues']"
                                    class="btn btn-info btn-sm mr-4">
                                See Issues
                            </button>

                            <button type="submit"
                                    [routerLink]="['/git-info', gitInfo.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/git-info', gitInfo.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(gitInfo)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="gitInfos && gitInfos.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
