<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-issue-heading" jhiTranslate="gitimporterApp.issue.home.createOrEditLabel">Create or edit a Issue</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gitimporterApp.issue.issueId" for="field_issueId">Issue Id</label>
                    <input type="number" class="form-control" name="issueId" id="field_issueId"
                           formControlName="issueId"/>
                    <div *ngIf="editForm.get('issueId')!.invalid && (editForm.get('issueId')!.dirty || editForm.get('issueId')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('issueId')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('issueId')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gitimporterApp.issue.issueOrder" for="field_issueOrder">Issue Order</label>
                    <input type="number" class="form-control" name="issueOrder" id="field_issueOrder"
                           formControlName="issueOrder"/>
                    <div *ngIf="editForm.get('issueOrder')!.invalid && (editForm.get('issueOrder')!.dirty || editForm.get('issueOrder')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('issueOrder')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('issueOrder')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gitimporterApp.issue.issueTitle" for="field_issueTitle">Issue Title</label>
                    <input type="text" class="form-control" name="issueTitle" id="field_issueTitle"
                           formControlName="issueTitle"/>
                    <div *ngIf="editForm.get('issueTitle')!.invalid && (editForm.get('issueTitle')!.dirty || editForm.get('issueTitle')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('issueTitle')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gitimporterApp.issue.state" for="field_state">State</label>
                    <input type="checkbox" class="form-control" name="state" id="field_state"
                           formControlName="state"/>
                    <div *ngIf="editForm.get('state')!.invalid && (editForm.get('state')!.dirty || editForm.get('state')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('state')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gitimporterApp.issue.author" for="field_author">Author</label>
                    <input type="text" class="form-control" name="author" id="field_author"
                           formControlName="author"/>
                    <div *ngIf="editForm.get('author')!.invalid && (editForm.get('author')!.dirty || editForm.get('author')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('author')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gitimporterApp.issue.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                    <div *ngIf="editForm.get('description')!.invalid && (editForm.get('description')!.dirty || editForm.get('description')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('description')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gitimporterApp.issue.createdAt" for="field_createdAt">Created At</label>
                    <div class="d-flex">
                        <input id="field_createdAt" type="datetime-local" class="form-control" name="createdAt" formControlName="createdAt" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('createdAt')!.invalid && (editForm.get('createdAt')!.dirty || editForm.get('createdAt')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('createdAt')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('createdAt')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gitimporterApp.issue.updatedAt" for="field_updatedAt">Updated At</label>
                    <div class="d-flex">
                        <input id="field_updatedAt" type="datetime-local" class="form-control" name="updatedAt" formControlName="updatedAt" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('updatedAt')!.invalid && (editForm.get('updatedAt')!.dirty || editForm.get('updatedAt')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('updatedAt')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('updatedAt')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gitimporterApp.issue.closedAt" for="field_closedAt">Closed At</label>
                    <div class="d-flex">
                        <input id="field_closedAt" type="datetime-local" class="form-control" name="closedAt" formControlName="closedAt" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gitimporterApp.issue.closedBy" for="field_closedBy">Closed By</label>
                    <input type="text" class="form-control" name="closedBy" id="field_closedBy"
                           formControlName="closedBy"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
